<%- include("../partials/head") %>
<%- include("../partials/navbar") %>

<div class="container center-align" style="margin-top: 60px;">
  <i class="large material-icons orange-text text-darken-2">search_off</i>
  <h3>404 - Página no encontrada</h3>
  <p>La ruta solicitada no existe.</p>
  <a href="/signIn" class="btn teal darken-2">Volver</a>
</div>

<%- include("../partials/scripts") %>