<div class="container" style="margin-top: 20px;">
  <% if (success) { %>
    <div class="card-panel green lighten-4 green-text text-darken-4"><%= success %></div>
  <% } %>

  <% if (error) { %>
    <div class="card-panel red lighten-4 red-text text-darken-4"><%= error %></div>
  <% } %>
</div>