PORT=3000
MONGODB_URI=mongodb+srv://robertolopez_user:Lopez2003cluster0.hstunh3.mongodb.net/myclouddatabase?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=f14e6a1c9843
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10